*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
}

html,
body {
  font-family: "Lato", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 18px;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

button {
  cursor: pointer;
}

svg {
  fill: currentColor;

  $properties: fill;
  @include transition($properties);
}
