.FirstSlideWrapper {
  position: fixed;
  height: 100%;
  width: 500px;
  overflow: hidden;
  z-index: 1;
}

.FirstSlide {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.Background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("/public/profile-bg.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(4px) grayscale(1);
  transform: scale(1.2);
}

.BackgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}

.Content {
  position: absolute;
  width: 100%;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #111;
}

.ProfileImage {
  display: block;
  width: 80px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 12px;
}

.Title {
  font-size: 1.5rem;
  font-weight: 600;
}

.Subtitle {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.Headline {
  margin: 0 0 2rem 0;
  display: block;
  font-size: 0.875rem;
  font-style: italic;
  color: #555;
}

.Quote {
  font-size: 1.25rem;
  margin: 1rem 0 1rem 0;
}

.Logo {
  fill: #111;
  height: 56px;
  display: block;
}

.Nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  ul {
    display: flex;
    gap: 8px;
    flex-direction: column;

    li {
      list-style: none;
      cursor: pointer;
      position: relative;

      a {
        font-size: 2.5rem;
        text-decoration: none;
        color: #111;
        display: block;
      }
    }
  }
}

.Contacts {
  display: flex;
  gap: 16px;
  align-items: center;
}

.Flag {
  font-size: 0.75rem;
  border-radius: 2.5rem;
  height: 2rem;
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 1.5rem;
  background: transparent;
  color: #111;
  border: 2px solid #111;
  font-weight: 600;
}

.Socials {
  ul {
    display: flex;
  }
}
