.Hero {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.Portfolio {
  position: relative;
  width: calc(100% - 500px);
  transform: translateX(500px);
  height: 100vh;

  > ul {
    display: flex;
    width: 100%;
    overflow: auto;

    > li {
      position: relative;
      width: clamp(300px, 23vw, 500px);
      overflow: hidden;
      min-height: 100vh;
      flex: 0 0 auto;
    }
  }
}

.PortfolioControls {
  position: fixed;
  top: 80px;
  left: 500px;
  transform: translate(-50%, 0);
  display: flex;
  z-index: 5;

  button {
    border: 0;
    padding: 0;
    cursor: pointer;
    width: fit-content;
    color: #fff;
    height: 56px;
    width: 56px;
    text-decoration: none;
    background: #000;
    $properties: color, background;
    @include transition($properties);

    svg {
      width: 12px;
      height: 12px;
      fill: currentColor;
    }

    &:hover {
      color: #222;
      background: #fff;
    }
  }
}

.PortfolioItem {
  width: 100%;
  overflow: hidden;

  .PortfolioItemBackground,
  .PortfolioItemOverlay,
  .PortfolioItemDetails,
  .PortfolioItemStats {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .PortfolioItemBackground {
    z-index: 0;
  }

  .PortfolioItemDevice {
    z-index: 1;
  }

  .PortfolioItemOverlay {
    z-index: 2;
  }

  .PortfolioItemStats,
  .PortfolioItemThumbnails,
  .PortfolioItemDetails {
    z-index: 3;
  }

  button {
    background: #000 !important;
    color: #fff !important;

    $properties: background, color, opacity;
    @include transition($properties);

    &:hover {
      opacity: 0.8 !important;
    }
  }

  &:hover {
    .PortfolioItemOverlay {
      background: rgba(0, 0, 0, 0.6);
    }

    .PortfolioItemDetails {
      color: #fff;
    }

    .PortfolioItemBackground {
      filter: grayscale(0%) brightness(100%);
      transform: scale(1.05);
    }

    button {
      background: #fff !important;
      color: #000 !important;
    }
  }

  .PortfolioItemOverlay {
    background: rgba(255, 255, 255, 0.7);
    @include transition(background);
  }

  .PortfolioItemBackground {
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(80%);

    $properties: filter, transform;
    @include transition($properties);
  }

  .PortfolioItemDevice[data-type="desktop"] {
    display: none;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 50%;
    right: 48px;
    transform: translateY(-50%);
    border-radius: 24px;
    overflow: hidden;
    border: 15px solid #000;
    box-shadow: 0 0px 300px rgba(255, 255, 255, 0.8);

    > img,
    > video {
      display: block;
      height: 100%;
      aspect-ratio: 16/9;
    }
  }

  .PortfolioItemDiscoverMore {
  }

  .PortfolioItemThumbnails {
  }

  .PortfolioItemStats {
  }

  .PortfolioItemTexts {
    .PortfolioItemNumber,
    .PortfolioItemTitle,
    .PortfolioItemBrand {
      display: block;
      @include transition(color);
    }

    .PortfolioItemNumber {
      font-weight: 900;
      font-size: 7rem;
      margin-bottom: 2rem;
    }

    .PortfolioItemTitle {
      margin-bottom: 3rem;
      font-size: 1.5rem;
    }

    .PortfolioItemBrand {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  .PortfolioItemDetails {
    color: #111;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.PortfolioItems {
  position: relative;
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.VerticalNavigation {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 80px;
  z-index: 5;

  ul {
    display: flex;
    flex-direction: column;

    /* &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: calc(100% + 16px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
      } */

    button {
      text-decoration: none;
      font-size: 1rem;
      border: 0;
      height: 32px;
      cursor: pointer;
      position: relative;
      background: transparent;
      @include transition(opacity);

      &:hover,
      &[aria-current] {
        opacity: 1;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 8px;
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        transform: translateY(-50%);
      }

      span {
        position: relative;
        z-index: 1;
        color: rgba(255, 255, 255, 1);
        padding-left: 32px;
        font-size: 1rem;
        @include transition(color);
      }
    }
  }
}

/* Statistics Grid */
.Stats {
  width: fit-content;
  position: relative;

  > ul {
    display: flex;
    gap: 24px;
    z-index: 1;

    > li {
      display: flex;
      flex: 0 0 auto;
      min-width: 150px;
    }
  }

  .StatsItem {
    p {
      margin-bottom: 8px;
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
    }

    span {
      font-size: 3rem;
    }
  }
}

/* Thumbnails */
.Thumbnails {
  ul {
    display: flex;
    gap: 16px;

    li {
      width: 120px;
      aspect-ratio: 2.5/4;
      position: relative;
    }

    button {
      border: 0;
      overflow: hidden;
      transition-property: opacity;
      transition-duration: 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      @include transition(box-shadow);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        opacity: 0;
        @include transition(opacity);
        z-index: 1;
      }

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        &::before {
          opacity: 1;
        }

        img {
          transform: scale(1.05);
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        display: block;
        @include transition(transform);
      }
    }
  }
}
