.Hero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Portfolio {
  position: relative;
  width: 100%;

  > ul {
    display: flex;
    width: 100%;
    flex-direction: column;

    > li {
      position: relative;
      height: 100dvh;
      width: 100dvw;
      flex: 0 0 auto;
    }
  }
}

.PortfolioItem {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .PortfolioItemBackground {
    z-index: 0;
  }
  .PortfolioItemDevice {
    z-index: 1;
  }
  .PortfolioItemOverlay {
    z-index: 2;
  }

  .PortfolioItemStats,
  .PortfolioItemThumbnails,
  .PortfolioItemDetails {
    z-index: 3;
  }

  .PortfolioItemOverlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8) 10%,
      rgba(0, 0, 0, 0) 50%
    );
  }

  .PortfolioItemBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    filter: blur(8px);
    transform: scale(1.4);
  }

  .PortfolioItemDevice[data-type="desktop"] {
    max-width: 60vw;
    width: 100%;
    aspect-ratio: 16/9;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    border-radius: 24px;
    overflow: hidden;
    border: 15px solid #000;
    box-shadow: 0 0px 300px rgba(255, 255, 255, 0.4);

    > img,
    > video {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center center;
    }
  }

  .PortfolioItemDetails {
    position: absolute;
    height: 100%;
    width: 30%;
    padding-left: 64px;
    padding-bottom: 64px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    > h2 {
      font-size: 3rem;
      color: rgba(255, 255, 255, 1);
      margin-bottom: 16px;
    }

    > span {
      font-size: 1.5rem;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 32px;
    }

    > button {
      width: fit-content;
      padding: 0 24px;
      height: 48px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 1);
      color: rgba(0, 0, 0, 1);
      cursor: pointer;
      border: 0;
      transition-property: background-color, color;
      transition-duration: 0.3s;
      font-weight: 600;
      text-transform: uppercase;

      &:hover {
        color: rgba(255, 255, 255, 1);
        background: rgba(0, 0, 0, 1);
      }
    }

    .PortfolioItemThumbnails {
      margin-bottom: 48px;
    }

    .PortfolioItemStats {
      margin-bottom: 48px;
      display: none;
    }
  }

  .PortfolioItemOverlay {
    content: "";
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0) 50%
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.PortfolioItems {
  position: relative;
  display: flex;
  gap: 48px;
  flex-direction: column;
}

.VerticalNavigation {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 80px;
  z-index: 5;

  ul {
    display: flex;
    flex-direction: column;

    /* &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: calc(100% + 16px);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
      } */

    button {
      text-decoration: none;
      font-size: 1rem;
      border: 0;
      height: 32px;
      cursor: pointer;
      position: relative;
      background: transparent;
      opacity: 0.6;
      transition-property: opacity;
      transition-duration: 0.3s;

      &:hover,
      &[aria-current] {
        opacity: 1;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 8px;
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        transform: translateY(-50%);
      }

      span {
        position: relative;
        z-index: 1;
        color: rgba(255, 255, 255, 1);
        transition: color 0.3s;
        padding-left: 32px;
        font-size: 16px;
      }
    }
  }
}

/* Statistics Grid */
.Stats {
  width: fit-content;
  position: relative;

  > ul {
    display: flex;
    gap: 24px;
    z-index: 1;

    > li {
      display: flex;
      flex: 0 0 auto;
      min-width: 150px;
    }
  }

  .StatsItem {
    p {
      margin-bottom: 8px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
    }

    span {
      font-size: 48px;
      font-weight: 300;
    }
  }
}

/* Thumbnails */
.Thumbnails {
  ul {
    display: flex;
    gap: 16px;

    li {
      width: 120px;
      aspect-ratio: 2.5/4;
      position: relative;
    }

    button {
      border: 0;
      overflow: hidden;
      transition-property: opacity;
      transition-duration: 0.3s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition-property: box-shadow;
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        opacity: 0;
        transition-property: opacity;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
        z-index: 1;
      }

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        &::before {
          opacity: 1;
        }

        img {
          transform: scale(1.05);
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        display: block;
        transition-property: transform;
        transition-duration: 1s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
      }
    }
  }
}
