.Gallery {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(#111, 0.9);
  z-index: 1333;

  .GalleryClose {
    cursor: pointer;
    background: #fff;
    color: #444;
    border: 0;
    height: 48px;
    width: 48px;
    top: 20px;
    right: 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    position: fixed;

    $properties: background;
    @include transition($properties);

    &:hover {
      background: #444;
      color: #fff;
    }
  }

  .GalleryWrapper {
    overflow: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 100%;
    width: 100%;
  }

  .GalleryContent {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: calc(100vw - 200px);
    max-height: calc(90vh - 100px);

    video,
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }

  .GalleryDetails {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }

  .GalleryHeader {
    display: flex;
    justify-content: space-between;
    display: none;

    h2 {
      font-size: 1.5rem;
      color: #444;
    }
  }

  .GalleryThumbnails {
    display: flex;
    gap: 8px;

    .GalleryItem {
      flex: 0 0 auto;
    }
  }

  .Thumbnail {
    position: relative;
    height: 64px;
    border: 0;
    cursor: pointer;
    display: block;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#444, 0.4);
      transition-property: background;
      transition-duration: 0.3s;
      z-index: 1;
    }

    &:hover:not([data-current="true"]) {
      &:before {
        background: rgba(#444, 0.5);
      }
    }

    &[data-current="true"] {
      &:before {
        background: rgba(#fff, 0);
        border: 2px solid rgba(#fff, 0.8);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
      position: relative;
    }

    svg {
      position: absolute;
      color: rgba(#fff, 0.8);
      height: 1.5rem;
      width: 1.5rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
}
