/* Thumbnails */
.Thumbnails {
  ul {
    display: flex;
    gap: 16px;

    li {
      width: 120px;
      aspect-ratio: 2.5/4;
      position: relative;
    }

    button {
      border: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 4px 8px rgba(#444, 0.2);

      $properties: box-shadow, opacity;
      @include transition($properties);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#fff, 0.2);
        opacity: 0;
        @include transition(opacity);
        z-index: 1;
      }

      &:hover {
        box-shadow: 0 8px 16px rgba(#444, 0.2);
        &::before {
          opacity: 1;
        }

        img {
          transform: scale(1.05);
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        display: block;
        @include transition(transform);
      }
    }
  }
}
