.VerticalNavigation {
  display: none;
  position: fixed;
  bottom: 80px;
  left: 80px;
  z-index: 5;

  ul {
    display: flex;
    flex-direction: column;

    /* &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: calc(100% + 16px);
        background: rgba(#fff, 0.2);
        border-radius: 8px;
      } */

    button {
      text-decoration: none;
      font-size: 1rem;
      border: 0;
      height: 32px;
      cursor: pointer;
      position: relative;
      background: transparent;
      @include transition(opacity);

      &:hover,
      &[aria-current] {
        opacity: 1;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 8px;
        width: 12px;
        height: 12px;
        background: rgba(#fff, 0.8);
        border-radius: 50%;
        transform: translateY(-50%);
      }

      span {
        position: relative;
        z-index: 1;
        color: rgba(#fff, 1);
        padding-left: 32px;
        font-size: 1rem;
        @include transition(color);
      }
    }
  }
}
